.breadcrumb {
  a{
    &:hover{
      text-decoration: underline;
      background-color: transparent;
      color: #138650;
    }
    
  }
}

.checkout.mobile{
  display: none;
  @media screen and (max-width: 992px){
    display: block;
  }
    
}

.jobDetail_left {
  @media screen and (max-width: 992px){
    grid-column: span 3 / span 3;
  }
  .seller_overview{
    .seller_star_rating{
      
      &:before{
        content: '|';
        color: #c5c6c9;
        margin-right: 12px;
      }

      &:after{
        content: '|';
        color: #c5c6c9;
        margin-left: 12px;
      }

    }
  }
}

.jobDetail_right{
  position: sticky;
  top: 128px;
  @media screen and (max-width: 992px){
    display: none;
  }
    
}

.comment {
  .helpful{
    
    span{
      &:hover{
        cursor: pointer;
        i{
          color: #138650;
          font-weight: bold;
        }
      }
    }
  }
}