.breadcrumb {
  a{
    &:hover{
      text-decoration: underline;
      background-color: transparent;
      color: #138650;
    }
    
  }
}

.mobile{
  display: none;
  @media screen and (max-width: 992px){
    display: block;
  }
    
}

.checkout {
  border: 1px solid #c5c6c9;
  width: 99%;
  li{
    border-bottom: 1px solid #c5c6c9;
    text-align: center;
    &:nth-child(2){
    border-left: 1px solid #c5c6c9;
    border-right: 1px solid #c5c6c9;
      
    }
    
    button{
      width: 100%;
      height: 100%;
      padding: 1rem;
      background-color: #ececec;
      

      &.active{
        border-bottom: 2px solid #1dbf73;
        color: #1dbf73;
        background-color: white;
      }
  
      
    }
  }

  #myTabContent{
    &>div{
      padding: 1rem;
      
    }
  }

  .compare_package{
  


  th{
    border: 1px solid ;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));

  }
  td{
    border: 1px solid ;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
  }
}



  

  
  

}

.jobDetail_left {
  @media screen and (max-width: 992px){
    grid-column: span 3 / span 3;
  }
  .seller_overview{
    .seller_star_rating{
      
      &:before{
        content: '|';
        color: #c5c6c9;
        margin-right: 12px;
      }

      &:after{
        content: '|';
        color: #c5c6c9;
        margin-left: 12px;
      }

    }
  }

  

  .star_rating{

    .on{
      color: #f0ad4e;
    }
    .off{
      color: #c5c6c9;
    }
  }
}

.jobDetail_right{
  position: sticky;
  top: 128px;
  @media screen and (max-width: 992px){
    display: none;
  }

  
    
}

.comment {
  .helpful{
    
    span{
      &:hover{
        cursor: pointer;
        i{
          color: #138650;
          font-weight: bold;
        }
      }
    }
  }
}